// PRIMARY
$clr-primary-100: hsl(215, 51%, 70%);
$clr-primary-200: hsl(178, 100%, 50%);

// NEUTRAL
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(215, 32%, 27%); //(line)
$clr-neutral-300: hsl(216, 50%, 16%); // (card BG)
$clr-neutral-400: hsl(217, 54%, 11%); // (main BG)

// FOOTER
$clr-footer: $clr-primary-200;